opencv-python>=4.8.0
mediapipe>=0.10.14
pyautogui>=0.9.54
pynput>=1.8.0
pygetwindow>=0.0.9
pycaw>=20230407
screeninfo>=0.8.1
PyYAML>=6.0
numpy>=1.24.0
comtypes>=1.4.0
pywin32>=306
requests>=2.31.0
torch>=2.0.0
torchvision>=0.15.0
scipy>=1.10.0
